<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Username</title>
</head>
<body>
    <h2>You are about to edit this user : <%= user.email %></h2>
    <form method="post" action="/customer_info/<%=user.id%>?_method=PATCH">
        <textarea name="username"> <%= user.username%> </textarea>
    
        <button>Edit</button>
    </form>
</body>
</html>